/* 
@media (max-width:1024px) {
    .login-box{
        width: 70%;
    }

    .other-box{
        width: 70%;
    }
} */

@media (min-width:425px) and (max-width:768px) {
    .login-box{
        width: 80%;
    } 
    .other-box{
        width: 80%;
    }
}
/* 
@media (max-width:425px){
    .login-box{
        width: 100%;
    }
    .other-box{
        width: 100%;
    }
}*/

@media (min-width:320px) and (max-width:425px){
    .login-box{
        width: 100%;
    } 
    .other-box{
        width: 100%;
    }
} 