* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}


.container {
    width: 100%;
    height: 100vh;
    background-color: #f0eaea;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;



}

.login-box {
    width: 32%;
    height: 50vh;
    margin-bottom: 20px;
    background-color: #FFFFFF;
    padding: 50px 50px;

}

.login-box img {
  margin-bottom: 20px;
}

.login-box h2 {
    margin-bottom: 20px;
}

.login-box input {
    width: 95%;
    margin-bottom: 15px;
    border: none;
    border-bottom: 1px solid #005DA6;
    text-transform: capitalize;
}

.login-box p  {
    margin-bottom: 15px;
   
}
.login-box a{
    margin-bottom: 15px;
    text-decoration: none;
    color: #00A4EF;
   
}
.login-box button{
    width: 32%;
    height: 32px;
    display: block;
    border: none;
    font-size: 15px;
    color: white    ;
    padding: 5px;
    
    background-color: #005DA6;
    position: relative;
    top: 8%;
    left: 65%;


   
}

.other-box {
    width: 32%;
    height: 8vh;
    background-color: #FFFFFF;
    font-weight: 300;
    font-size: 18px;
    padding: 10px 50px;
}